/* Main Style Definitions */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  margin: 0;
}

main {
  display: flex;
  flex: 1;
}

img {
  max-width: 600px;
  max-height: 800px;
  border-radius: 5px;

}
footer {
  background-color: #FEDE59;
  color: black;
  text-align: center;
}

p {
  font-style: italic;
  margin: 1em 1em 1em 0;
  max-width: 600px;
}

p::before,
p::after {
  content: "";
}


#post-container button {
  background-color: #FEDE59;
  border: none;
  color: black;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 32px;
}

#main-header {
  background-color: #FEDE59;
}

#main-header h1 {
  color: black;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: .25em;
}

#sidebar {
  width: 225px;
  flex: 0 0 12em;
  background-color: #666766;
}

#sidebar ul {
  padding: 0;
  list-style-type: none;
}

#sidebar ul li {
  color: #eee;
  padding: 20px 0 20px 25px;
}

#sidebar ul li:hover {
  cursor: pointer;
  background-color: #32373c;
}
#post-container {
  flex: 1;
  background-color: #eee;
  padding: 20px;
}

#intro {
  display: none;
}


/* Modal Style Definitions */
#modal-backdrop {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.75);
}

#modal-backdrop.visible {
  display: block;
}

.modal {
  display: none;
  position: absolute;
  padding: 10px;
  border: solid 1px #555;
  border-radius: 5px;
  background-color: #FEDE59;
  z-index: 99999;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal.visible {
  display: block;
}

.modal-content {
  width: 300px;
  height: 300px;
}

#edit-title {
  width: 300px;
}

#edit-content-text {
  width: 100%;
  box-sizing: border-box;
}
